<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  
  <meta name="keywords"
    content="Juego, juego de monty hall,Simulador de Monty Hall, Simulador, Monty,  Hall, Puertas, Carro, Cabra, Análisis, Numérico, numerico, unl, universidad, javascript, matemáticas" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <script src="assets/js/analisis.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link rel="icon" href="\images\icons\Kingdom.png" type="image/x-icon">
  <link href="assets/css/bootstrap.min.css?ver=1.1.0" rel="stylesheet">
  <noscript>
    <style type="text/css">
      [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
      }
    </style>
  </noscript>
  <title>
    <%= title %>
  </title>

</head>

<body id="top" style="background-image: linear-gradient(to right,rgb(170, 153, 153), rgb(141, 141, 241));">

  <div class="container mx-auto" >
    <br>
    <div class="card mx-auto"
      style="border-radius: 30px;box-shadow: 0 6px 9px rgba(0,0,0,0.25),0 9px 8px rgba(0,0,0,0.22); background-color: rgba(0,0,0,0.25);">
 
      <div class="card bg-dark text-white row "
        style="padding: 30px; border-radius: 30px; box-shadow: 0 6px 9px rgba(0,0,0,0.25), 0 9px 8px rgba(0,0,0,0.22);">
      <h2 style="text-align: center;">Repartidor aleatorio de Naipes</h2>
      <div class="row mx-auto col-md-4">
          <button class="btn btn-success mx-auto" onclick="generarcartas()">Barajear Y Repartir</button> <a onclick="limpiarSession()" style="cursor: pointer;" class="mx-auto"><h1 class="text-danger"><i class="fa fa-trash"></i></h1></a>
        
        </div><br>
        <table class="col-md-4 mx-auto " style="padding: 30px; border-radius: 30px; ">
          <tr style="background-color: rgba(0,0,0,0.25);">
            <td>Ejecuciones</td>
            <td id="exe">0</td>
          </tr> 
        </table> 
         
      </div>
      <div class="row mx-auto cards" style="border-radius: 30px;  padding-bottom: 10px; ">

        <div class="row mx-auto"> 
          <div class="carta" >
          <div class="cara cardx  text-center text-white mx-auto img-fluid " id="11" >
              <p style="padding-top: 30px;padding-bottom: 30px;">  </p>
          </div> 
          </div> 
          <div class="carta" >
            <div class="cara cardx  text-center text-white mx-auto " id="12" >
              <p style="padding-top: 30px;padding-bottom: 30px;">  </p>
            </div> 
          </div> 
          <div class="carta" >
            <div class="cara cardx  text-center text-white mx-auto " id="13" >
              <p style="padding-top: 30px;padding-bottom: 30px;">  </p>
            </div> 
          </div> 
          <div class="carta" >
            <div class="cara cardx text-center text-white mx-auto " id="14" >
              <p style="padding-top: 30px;padding-bottom: 30px;">   </p>
            </div> 
          </div> 
          <div class="carta " >
            <div class="cara cardx text-center text-white mx-auto " id="15" >
              <p style="padding-top: 30px;padding-bottom: 30px;">  </p>
            </div> 
          </div> 
          <div class="carta" >
            <div class="cara cardx text-center text-white mx-auto " id="16" >
              <p style="padding-top: 30px;padding-bottom: 30px;">    </p>
            </div> 
          </div> 
          <div class="carta" >
            <div class="cara cardx  text-center text-white mx-auto " id="17" >
              <p style="padding-top: 30px;padding-bottom: 30px;">    </p>
            </div> 
          </div> 
          <div class="carta" >
            <div class="cara cardx text-center text-white mx-auto " id="18" >
              <p style="padding-top: 30px;padding-bottom: 30px;">   </p>
            </div> 
          </div> 
          <div class="carta" >
            <div class="cara cardx  text-center text-white mx-auto " id="19" >
              <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
            </div> 
          </div> 
          <div class="carta"  >
            <div class="cara cardx text-center text-white mx-auto " id="110" >
              <p style="padding-top: 30px;padding-bottom: 30px;">  </p>
            </div> 
          </div> 
          <div class="carta"  >
            <div class="cara cardx text-center text-white mx-auto " id="111" >
              <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
            </div> 
          </div> 
          <div class="carta" >
            <div class="cara cardx text-center text-white mx-auto " id="112" >
              <p style="padding-top: 30px;padding-bottom: 30px;">  </p>
            </div> 
          </div> 
          <div class="carta"  >
            <div class="cara cardx  text-center text-white mx-auto " id="113" >
              <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
            </div> 
          </div> </div> 
          <br>
          <div class="row mx-auto"> 
         <div class="carta" >
         <div class="cara cardx text-center text-white mx-auto " id="21" >
             <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
         </div> 
         </div> 
         <div class="carta" >
           <div class="cara cardx text-center text-white mx-auto " id="22" >
             <p style="padding-top: 30px;padding-bottom: 30px;">  </p>
           </div> 
         </div> 
         <div class="carta" >
           <div class="cara cardx  text-center text-white mx-auto " id="23" >
             <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
           </div> 
         </div> 
         <div class="carta" >
           <div class="cara cardx text-center text-white mx-auto " id="24" >
             <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
           </div> 
         </div> 
         <div class="carta" >
           <div class="cara cardx text-center text-white mx-auto " id="25" >
             <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
           </div> 
         </div> 
         <div class="carta" >
           <div class="cara cardx  text-center text-white mx-auto " id="26" >
             <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
           </div> 
         </div> 
         <div class="carta" >
           <div class="cara cardx  text-center text-white mx-auto " id="27" >
             <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
           </div> 
         </div> 
         <div class="carta" >
           <div class="cara cardx text-center text-white mx-auto " id="28" >
             <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
           </div> 
         </div> 
         <div class="carta" >
           <div class="cara cardx text-center text-white mx-auto " id="29" >
             <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
           </div> 
         </div> 
         <div class="carta" >
           <div class="cara cardx text-center text-white mx-auto " id="210" >
             <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
           </div> 
         </div> 
         <div class="carta" >
           <div class="cara cardx  text-center text-white mx-auto " id="211" >
             <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
           </div> 
         </div> 
         <div class="carta" >
           <div class="cara cardx text-center text-white mx-auto " id="212" >
             <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
           </div> 
         </div> 
         <div class="carta" >
           <div class="cara cardx text-center text-white mx-auto " id="213" >
             <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
           </div> 
         </div> </div> 
         <br>
         <div class="row mx-auto"> 
        <div class="carta">
        <div class="cara cardx  text-center text-white mx-auto " id="31" >
            <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
        </div> 
        </div> 
        <div class="carta" >
          <div class="cara cardx text-center text-white mx-auto " id="32" >
            <p style="padding-top: 30px;padding-bottom: 30px;">  </p>
          </div> 
        </div> 
        <div class="carta" >
          <div class="cara cardx text-center text-white mx-auto " id="33" >
            <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
          </div> 
        </div> 
        <div class="carta" >
          <div class="cara cardx text-center text-white mx-auto " id="34" >
            <p style="padding-top: 30px;padding-bottom: 30px;">    </p>
          </div> 
        </div> 
        <div class="carta" >
          <div class="cara cardx text-center text-white mx-auto " id="35" >
            <p style="padding-top: 30px;padding-bottom: 30px;">    </p>
          </div> 
        </div> 
        <div class="carta" >
          <div class="cara cardx text-center text-white mx-auto " id="36" >
            <p style="padding-top: 30px;padding-bottom: 30px;">    </p>
          </div> 
        </div> 
        <div class="carta" >
          <div class="cara cardx text-center text-white mx-auto " id="37" >
            <p style="padding-top: 30px;padding-bottom: 30px;">    </p>
          </div> 
        </div> 
        <div class="carta" >
          <div class="cara cardx  text-center text-white mx-auto " id="38" >
            <p style="padding-top: 30px;padding-bottom: 30px;">   </p>
          </div> 
        </div> 
        <div class="carta" >
          <div class="cara cardx text-center text-white mx-auto " id="39" >
            <p style="padding-top: 30px;padding-bottom: 30px;">    </p>
          </div> 
        </div> 
        <div class="carta" >
          <div class="cara cardx text-center text-white mx-auto " id="310" >
            <p style="padding-top: 30px;padding-bottom: 30px;">   </p>
          </div> 
        </div> 
        <div class="carta" >
          <div class="cara cardx text-center text-white mx-auto " id="311" >
            <p style="padding-top: 30px;padding-bottom: 30px;">    </p>
          </div> 
        </div> 
        <div class="carta" >
          <div class="cara cardx text-center text-white mx-auto " id="312" >
            <p style="padding-top: 30px;padding-bottom: 30px;">    </p>
          </div> 
        </div> 
        <div class="carta" >
          <div class="cara cardx text-center text-white mx-auto " id="313" >
            <p style="padding-top: 30px;padding-bottom: 30px;">    </p>
          </div> 
        </div> </div> 
        <br>
        <div class="row mx-auto"> 
       <div class="carta" >
       <div class="cara cardx  text-center text-white mx-auto " id="41" >
           <p style="padding-top: 30px;padding-bottom: 30px;">    </p>
       </div> 
       </div> 
       <div class="carta" >
         <div class="cara cardx text-center text-white mx-auto " id="42" >
           <p style="padding-top: 30px;padding-bottom: 30px;">    </p>
         </div> 
       </div> 
       <div class="carta" >
         <div class="cara cardx text-center text-white mx-auto " id="43" >
           <p style="padding-top: 30px;padding-bottom: 30px;">    </p>
         </div> 
       </div> 
       <div class="carta" >
         <div class="cara cardx text-center text-white mx-auto " id="44" >
           <p style="padding-top: 30px;padding-bottom: 30px;">    </p>
         </div> 
       </div> 
       <div class="carta" >
         <div class="cara cardx text-center text-white mx-auto " id="45" >
           <p style="padding-top: 30px;padding-bottom: 30px;">    </p>
         </div> 
       </div> 
       <div class="carta" >
         <div class="cara cardx text-center text-white mx-auto " id="46" >
           <p style="padding-top: 30px;padding-bottom: 30px;">    </p>
         </div> 
       </div> 
       <div class="carta" >
         <div class="cara cardx  text-center text-white mx-auto " id="47" >
           <p style="padding-top: 30px;padding-bottom: 30px;">    </p>
         </div> 
       </div> 
       <div class="carta" id="18" style="cursor:pointer">
         <div class="cara cardx text-center text-white mx-auto " id="48" >
           <p style="padding-top: 30px;padding-bottom: 30px;">    </p>
         </div> 
       </div> 
       <div class="carta" >
         <div class="cara cardx text-center text-white mx-auto " id="49" >
           <p style="padding-top: 30px;padding-bottom: 30px;">   </p>
         </div> 
       </div> 
       <div class="carta" >
         <div class="cara cardx text-center text-white mx-auto " id="410" >
           <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
         </div> 
       </div> 
       <div class="carta" >
         <div class="cara cardx text-center text-white mx-auto " id="411" >
           <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
         </div> 
       </div> 
       <div class="carta" >
         <div class="cara cardx text-center text-white mx-auto " id="412" >
           <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
         </div> 
       </div> 
       <div class="carta" >
         <div class="cara cardx text-center text-white mx-auto"  id="413" >
           <p style="padding-top: 30px;padding-bottom: 30px;"> </p>
         </div> 
       </div> </div> 
       <br>
          
       

      </div> <br> 
      <p class=" ml-auto">autor: Pablo Torres</p>
    </div>
    <audio id="cards" style="opacity: 0%;" src="/media/cards.mp3"></audio> 
</body>


<style>
  .carta {
    margin-left: 5px; 
    width: 80px;
    padding: 5px;
    height:120px;
 }
 .cardx{ 
  background-size: cover;
  width: 100%;
  height: 100%; 
  background-image: url('images/back.png');
 }
 .cardx:hover{
  transform:  scale( 1.5);  
 }
 .cards{
   margin-top: 30px;
 }
  div {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
</style>



<script>

  function limpiarSession() {
    sessionStorage.clear();
    localStorage.clear(); 
    window.open('?','_self');
  }

  function boolean() {
    if (Math.random() < 0.5) {
      return false
    } else {
      return true
    }
  }
  //FUNCION PARA ACTIVAR EL AUDIO  
  function accionBaraja(){  
      document.getElementById('cards').play();    
  }

  // FUNCION RANDOM CON RANGO 
  function getRandomInt(min, max) {
    return Math.floor(Math.random() * (max - min)) + min;
  }
  ///*Genero las cartas */
    veces=0;
    mascartas=()=>{
      var arrayx = ['A','2','3','4','5','6','7','8','9','10','J','Q','K']; 
    var i,j,k;
    for (i = arrayx.length; i; i--) {
        j = Math.floor(Math.random() * i);
        k = arrayx[i - 1];
        arrayx[i - 1] = arrayx[j];
        arrayx[j] = k;
    } 
  return arrayx;
    }
  generarcartas = () =>{
    c1=mascartas();
    c2=mascartas();
    c3=mascartas();
    c4=mascartas();
    veces=veces+1;
    accionBaraja()
    document.getElementById("exe").innerHTML=veces;
    aux="";
    clase=""; 
    j=0;
    i=0;
    while(i<4){
      while(j<13){
        aux=(i+1)+""+(0+j+1);
        id=""+aux; 
        if(i==0){ 
          if(c1[j]=="J"||c1[j]=="Q"||c1[j]=="K"){
          document.getElementById(id).style.backgroundImage = "url('images/negrasb.png')";
          document.getElementById(id).innerHTML ="<h4 class='text-dark' style='padding-top:10px'>"+c1[j]+"</h4>"
          }else{ 
          document.getElementById(id).style.backgroundImage = "url('images/negras.png')";
          document.getElementById(id).innerHTML ="<h4 class='text-dark' style='padding-top:10px'>"+c1[j]+"</h4>"
          }
        }else if(i==1){  
          if(c2[j]=="J"||c2[j]=="Q"||c2[j]=="K"){
          document.getElementById(id).style.backgroundImage = "url('images/negrasb.png')";
          document.getElementById(id).innerHTML ="<h4 class='text-dark' style='padding-top:10px'>"+c2[j]+"</h4>"
          }else{ 
          document.getElementById(id).style.backgroundImage = "url('images/negras.png')";
          document.getElementById(id).innerHTML ="<h4 class='text-dark' style='padding-top:10px'>"+c2[j]+"</h4>"
          }
        }else if(i==2){ 
          if(c3[j]=="J"||c3[j]=="Q"||c3[j]=="K"){
          document.getElementById(id).style.backgroundImage = "url('images/negrasb.png')";
          document.getElementById(id).innerHTML ="<h4 class='text-dark' style='padding-top:10px'>"+c3[j]+"</h4>"
          }else{ 
          document.getElementById(id).style.backgroundImage = "url('images/negras.png')";
          document.getElementById(id).innerHTML ="<h4 class='text-dark' style='padding-top:10px'>"+c3[j]+"</h4>"
          }
        }else if(i==3){ 
          if(c4[j]=="J"||c4[j]=="Q"||c4[j]=="K"){
          document.getElementById(id).style.backgroundImage = "url('images/negrasb.png')";
          document.getElementById(id).innerHTML ="<h4 class='text-dark' style='padding-top:10px'>"+c4[j]+"</h4>"
          }else{ 
          document.getElementById(id).style.backgroundImage = "url('images/negras.png')";
          document.getElementById(id).innerHTML ="<h4 class='text-dark' style='padding-top:10px'>"+c4[j]+"</h4>"
          }
        }  
      j=j+1;
      }
      i=i+1; 
    }
     
  } 

  // Variables iniciales para escribir datos de la simulación
    /*play almacena las veces que se ha ejecutado la orden del boton "Barajear y Repartir" funcion: generarcartas()
    */
  ///////////////////////////////////////////////
  var play = 0;   
  window.onload = function() {
    if (!sessionStorage.getItem("exe") ) {
      play =  0; 
    } else { 
      play =  sessionStorage.getItem("exe"); 
    } 
  exe.innerHTML = play;  
};  
//TextosIds asignados a variables 
  var exe = document.getElementById('exe'); 
</script>

</html>