<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

  <link href="assets/css/bootstrap.min.css?ver=1.1.0" rel="stylesheet">
  <noscript>
    <style type="text/css">
      [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
      }
    </style>
  </noscript>
  <title>
    <%= title %>
  </title>

</head>

<body id="top" style="background-image: linear-gradient(to right,rgb(170, 153, 153), rgb(141, 141, 241));">

  <div class="container mx-auto" style="padding-top: 9px ; ">
    <h2 style="text-align: center;">Simulador de Monty Hall</h2>
    <br>
    <div class="card mx-auto"
      style="border-radius: 30px;box-shadow: 0 6px 9px rgba(0,0,0,0.25),0 9px 8px rgba(0,0,0,0.22); background-color: rgba(0,0,0,0.25);">

      <p class="h5 mx-auto text-white" id="estado">Elige una puerta</p>
      <div class="row mx-auto container" style="border-radius: 30px">
        <a class="card bg-dark text-center text-white col-md-3 mx-auto" id="p1"
          style="padding-top: 100px;padding-bottom: 100px; margin: 10px;">Puerta 1 <h1><i class=" fa fa-car"></i></h1></a>
        <a class="card bg-dark text-center text-white col-md-3 mx-auto" id="p2"
          style="padding-top: 100px;padding-bottom: 100px; margin: 10px;">Puerta 2 <h1><i class=" fa fa-remove"></i></h1></a>
        <a class="card bg-dark text-center text-white col-md-3 mx-auto" id="p3"
          style="padding-top: 100px;padding-bottom: 100px; margin: 10px;">Puerta 3 <h1><i class=" fa fa-remove"></i></h1></a>
      </div><br>
      <div class="card  row " style="padding: 30px; 
            border-radius: 30px;
              box-shadow: 0 6px 9px rgba(0,0,0,0.25), 
                0 9px 8px rgba(0,0,0,0.22);">
        <table class="col-md-4 mx-auto " style="padding: 30px; border-radius: 30px; ">
          <h3 class="mx-auto">Resultados:</h3>
          <tr style="background-color: rgba(0,0,0,0.25);">
            <td>Ganadas</td>
            <td id="gana">0</td>
          </tr>
          <tr>
            <td>Perdidas</td>
            <td id="pierde">0</td>
          </tr>
          <tr style="background-color: rgba(0,0,0,0.25);">
            <td>Éxito total: </td>
            <td id="prop">0%</td>
          </tr>
        </table>
        <div class="container text-center mx-auto"><img class="img-fluid " style="width: 12%; padding-top: 30px;"
            src="/images/Tow-W.png"> </div>
      </div>
    </div>
</body>






<script>
  // Variables to keep track of score
  var numWin = 0;
  var numLoss = 0;
  var ratioValue = 0;

  // Html element to write messages to player
  var stats = document.getElementById('estado');
  stats.innerHTML = 'Elige una puerta.';

  // Html documents to write the scores
  var win = document.getElementById('gana');
  win.innerHTML = numWin;

  var loss = document.getElementById('pierde');
  loss.innerHTML = numLoss;

  var ratio = document.getElementById('prop');
  ratio.innerHTML = (ratioValue * 100).toFixed(1);

  var canvas = document.getElementById('myCanvas');
  var context = canvas.getContext('2d');

  var imageOpenDoor = new Image();
  var imageCloseDoor = new Image();
  var imageCheck = new Image();
  var imageGoat = new Image();
  var imageCar = new Image();

  // I have to figure out copyright of images. I'll put the sources on the front of each oen
  imageOpenDoor.src = 'img/open_door.png' // http://th08.deviantart.net/fs71/PRE/i/2012/109/8/d/open_door_png_by_glammgramma-d4wy185.png
  imageCloseDoor.src = 'img/closed_door.png' // http://th01.deviantart.net/fs71/PRE/i/2012/109/6/f/closed_door_png_by_glammgramma-d4wy1cv.png
  imageCheck.src = 'img/check.png' // http://www.come4news.com/images/users/5454/check.png
  imageGoat.src = 'img/goat.png' //
  imageCar.src = 'img/car.png' // http://www.wpclipart.com/transportation/car/classic_cars/purple_muscle_car.png

  // Random choose doors for car and goats
  var carDoor = Math.floor(Math.random() * 3); // Door with car
  var goatDoors = []; // Doors with goats
  i = -1
  while (++i < 3) {
    if (i != carDoor) { goatDoors.push(i) };
  }

  imageCloseDoor.onload = function () {
    context.drawImage(imageCloseDoor, 0, 0, 200, 350);
    context.drawImage(imageCloseDoor, 200, 0, 200, 350);
    context.drawImage(imageCloseDoor, 400, 0, 200, 350);
  };

  // Initialize loop variables (the loop is a click event listener)
  var doors = [false, false, false]; // Open doors
  var turn = 0; // Game state (details below)
  var check = 0; // First door choosen
  var openDoor = 0; // Door choosen after stay or switch

  canvas.addEventListener('click', function (event) {
    var rect = canvas.getBoundingClientRect();
    var x = event.pageX - rect.left;
    var y = event.pageY - rect.top;

    /* Game states (turn):
      -1: Game is finished
       0: Player chose a door
       1: Player chose to stay or switch
    */
    if (turn == -1) { // Reset game
      doors = [false, false, false];
      check = 0;
      openDoor = 0;
      carDoor = Math.floor(Math.random() * 3);
      goatDoors = [];
      i = -1
      while (++i < 3) {
        if (i != carDoor) { goatDoors.push(i) };
      }
      context.clearRect(0, 0, canvas.width, canvas.height)
      context.drawImage(imageCar, carDoor * 200 + 46, 200, 120, 80);
      goatDoors.forEach(function (d) {
        context.drawImage(imageGoat, d * 200 + 68, 180, 101, 100);
      });
      context.drawImage(imageCloseDoor, 0, 0, 200, 350);
      context.drawImage(imageCloseDoor, 200, 0, 200, 350);
      context.drawImage(imageCloseDoor, 400, 0, 200, 350);
      stats.innerHTML = 'Otra vez? Escoge una puerta.';
      ++turn;
    } else {
      if (turn == 0) { // Check clicked door
        check = 0;
        if (x < 200 && x > 0) { check = 0; }
        if (x < 400 && x > 200) { check = 1; }
        if (x < 600 && x > 400) { check = 2; }

        openDoor = Math.floor(Math.random() * 3);
        while (openDoor == check || openDoor == carDoor) {
          openDoor = Math.floor(Math.random() * 3);
        }
        doors[openDoor] = true;
        context.clearRect(0, 0, canvas.width, canvas.height);
        context.drawImage(imageCar, carDoor * 200 + 46, 200, 120, 80);
        goatDoors.forEach(function (d) {
          context.drawImage(imageGoat, d * 200 + 68, 180, 101, 100);
        });
        i = -1;
        while (++i < 3) {
          if (!doors[i]) {
            context.drawImage(imageCloseDoor, i * 200, 0, 200, 350);
          }
          else {
            context.drawImage(imageOpenDoor, i * 200 - 2, 0, 212, 370);
          }
        }
        context.drawImage(imageCheck, check * 200 + 75, 350, 50, 50);
        stats.innerHTML = 'Cambias la puerta o te la quedas?'
        ++turn;
      }
      else {
        if (turn > 0) { // Open final door
          open = 0;
          if (x < 200 && x > 0) { open = 0; }
          if (x < 400 && x > 200) { open = 1; }
          if (x < 600 && x > 400) { open = 2; }

          if (open == openDoor) {
            return;
          }
          doors[open] = true;
          context.clearRect(0, 0, canvas.width, canvas.height)
          context.drawImage(imageCar, carDoor * 200 + 46, 200, 120, 80);
          goatDoors.forEach(function (d) {
            context.drawImage(imageGoat, d * 200 + 68, 180, 101, 100);
          });
          i = -1;
          while (++i < 3) {
            if (!doors[i]) {
              context.drawImage(imageCloseDoor, i * 200, 0, 200, 350);
            }
            else {
              context.drawImage(imageOpenDoor, i * 200 - 2, 0, 212, 370);
            }
          }
          context.drawImage(imageCheck, check * 200 + 75, 350, 50, 50);

          if (open == carDoor) {
            ++numWin;
            stats.innerHTML = 'Enhorabuena!';
          }
          else {
            ++numLoss;
            stats.innerHTML = 'Perdedor...';
          }
          ratioValue = 1.0 * numWin / (numWin + numLoss);

          // Update results
          win.innerHTML = numWin;
          loss.innerHTML = numLoss;
          ratio.innerHTML = (ratioValue * 100).toFixed(1);

          turn = -1;
        };
      }
    }
  }, false);
</script>

</html>