<!DOCTYPE html>
<html lang="es">

<body>
<div class="container">
	<div class="card text-center">
		<h2>Mapa de casos</h2>
	</div>
</div>
<div id="map-template"></div>

  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
</body>

</html>