<!DOCTYPE html>
<html lang="es">
  <%- include('fragmentos/head'); %> 
  <body id="top" >
  <%- include('fragmentos/navbar'); %> <div class="page-content">
      <div>
<div class="profile-page" >
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="blue">
      <div class="page-header-image" data-parallax="true" style="background-image: url('images/bg1.jpg')"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="https://wa.me/+593980557586"><img src="images/perfil/i.jpg" alt="Image"/></a></div>
          <div class="h2 title">Juan Pablo Torres</div>
          <p class="category text-white">Desarrollador Web, Diseñador Grafico</p><a class="btn btn-info" href="#" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Descargar CV</a>
        </div>
      </div>
      <div class="section  ">
        <div class="container ">
          <div class="button-container">
<a class="btn btn-default btn-round btn-lg btn-icon btn-info" href="https://www.facebook.com/369torres" target="_blank" rel="tooltip" title="Sígueme en Facebook"><i class="fa fa-facebook"></i></a>
<a class="btn btn-default btn-round btn-lg btn-icon btn-primary" href="https://wa.me/+593980557586" rel="tooltip" target="_blank" title="Escríbeme en Whatsapp"><i class="fa fa-whatsapp"></i></a>
<a class="btn btn-default btn-round btn-lg btn-icon btn-dark" href="https://github.com/juanpablo369" rel="tooltip" target="_blank" title="Sígueme en Google+"><i class="fa fa-github"></i></a>
<a class="btn btn-default btn-round btn-lg btn-icon btn-danger" href="https://www.instagram.com/369torres/" target="_blank" rel="tooltip" title="Sígueme en Instagram"><i class="fa fa-instagram"></i></a>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section bg-dark " id="about">
  <div class="container bg-dark  ">
    <div class="card bg-dark text-white " data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Sobre mi</div>
            <p>Hola! soy Juan Pablo. Desarrollador web y Diseñador Grafico.</p>
            <p>Este es mi espacio en la web donde puedes conocer un resumen professional acerca de mi, como Habilidades y Experiencia, además podrás encontrar todas mis redes sociales y proyectos terminados y en desarrollo.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Información Básica</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Edad:</strong></div>
              <div class="col-sm-8">24</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Correo:</strong></div>
              <div class="col-sm-8">juanpablotorrescalva@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Teléfono:</strong></div>
             <div class="col-sm-8"><a  target="_blank"  href="https://wa.me/+593980557586">+593980557586</a></div> 
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Dirección:</strong></div>
              <div class="col-sm-8">El Pangui, Zamora Chinchipe, Ecuador</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Idioma:</strong></div>
              <div class="col-sm-8">Español, English</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section bg-dark " id="skill">
  <div class="container bg-dark text-white ">
    <div class="h4 text-center mb-4 title">Habilidades Profesionales</div>
    <div class="card bg-dark text-white" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">


        <div class="row">
          <div class="col-md-6">
            <div class="progress-container  progress-info"><span class="progress-badge">HTML</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div><span class="progress-value">85%</span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="progress-container progress-info"><span class="progress-badge">CSS</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
              </div>
            </div>
          </div>
        </div>
      


 <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-info"><span class="progress-badge">JavaScript</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div><span class="progress-value">65%</span>
              </div>
            </div>
          </div>
          
<div class="col-md-6">
            <div class="progress-container  progress-info"><span class="progress-badge">NodeJS</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
              </div>
            </div>
          </div>
        </div>



         <div class="row">
          <div class="col-md-6">
            <div class="progress-container  progress-info"><span class="progress-badge">After Effects</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div><span class="progress-value">65%</span>
              </div>
            </div>
          </div>
          
<div class="col-md-6">
            <div class="progress-container progress-info"><span class="progress-badge">Unreal Engine</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 55%;"></div><span class="progress-value">50%</span>
              </div>
            </div>
          </div>
        </div>
        


<div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-info"><span class="progress-badge">Bootstrap</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="progress-container progress-info"><span class="progress-badge">Photoshop</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">85%</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="section bg-dark text-white" id="portfolio">
  <div class="container bg-dark">
    <div class="row ">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-4 title">Portafolio</div>
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist"><i class="fa fa-laptop" aria-hidden="true"></i></a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design" role="tablist"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content gallery mt-5">
      <div class="tab-pane active" id="web-development">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://yanuero.herokuapp.com/" target="_blank">
                  <figure class="cc-effect"><img src="images/p1.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Sitio Web para Discoteca</div>
                      <p>Desarrollo Web</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><video style="width: 100%" class="" autoplay="true" muted="true" src="images/video/intro-Striker.mp4"loop>  </video>
                    <figcaption>
                      <div class="h4 col-md-9 mx-auto">Proyecto de Liga de Peleas - Striker (En Desarrollo)</div>
                      <p>Desarrollo Web</p>
                    </figcaption>
                  </figure></a></div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://unlrestaurant.herokuapp.com/" target="_blank">
                  <figure class="cc-effect"><img src="images/p2.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Delivery de Platillos</div>
                      <p>Desarrollo Web</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="images/bg.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Web y Móvil (En Desarrollo) </div>
                      <p>Desarrollo Web & Movil</p>
                    </figcaption>
                  </figure></a></div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="tab-pane" id="graphic-design" role="tabpanel">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                  <figure class="cc-effect"><img src="images/bg1.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4"> </div>
                      <p> </p>
                    </figcaption>
                  </figure></a></div> 
            </div>
          </div>
        </div>
      </div> 

    </div>
  </div>
</div>
<div class="section bg-dark" id="experience">
  <div class="container cc-experience bg-dark">
    <div class="h4 text-center mb-4 title text-white">Experiencia</div>
    <div class="card bg-dark text-white">
      <div class="row">
        <div class="col-md-3 bg-info" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Mayo 2021 - Septiembre 2021</p>
            <div class="h5">UNL</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Desarrollo Web</div>
            <p>Un proyecto creado en colaboración, consta de 3 tipos de <b>roles</b> para el acceso los cuales se dividen en el <b>Cliente, Administrador y Superadministrador</b>, cada uno con funciones específicas. El usuario normal tiene acceso a la página principal, al menu, su perfil, editar su perfil, carrito en caso de tener uno; Mientras que el Administrador tiene acceso a los pedidos realizados, Administrar platillo: donde puede ver, editar, agregar y dar de baja un platillo, y el Superadministrador lo mismo que el Administrador sumado un espacio éxtra donde puede asignar los roles a los usuarios registrados. Consta de acceso por QR.</p>
            <img src="images/unlr-qr.jpg" style="height:120px;" alt="">
            
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-dark text-white">
      <div class="row">
        <div class="col-md-3 bg-info" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Abril 2019 - Diciembre 2020</p>
            <div class="h5">Yanua-Discobar</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Desarrollo Web</div>
            <p>Experiencia tanto en <b>FrontEnd</b> como en <b>BackEnd</b> con el uso de <b>NodeJS</b> este es un proyecto desarrollado para usuarios de la discoteca "YANUA" quienes a través de su dispositivo movil tienen acceso al menú disponible además de una galería, la ubicación, y más información a través de un código QR.</p>
            <img src="images/yanua-qr.jpg" style="height:120px;" alt="">
          </div>
        </div>
      </div>
    </div> 

  </div>
</div>
<div class="section bg-dark">
  <div class="container cc-education ">
    <div class="h4 text-center mb-4 title text-white">Preparación</div>
    
    <div class="card bg-dark text-white">
      <div class="row">
        <div class="col-md-3 bg-info " data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2018 - Ahora</p>
            <div class="h5">Ingeniería</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body"><hr>
            <div class="h5">Ingeniería en Computación</div>
            <p class="category">Universidad Nacional de Loja</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card bg-dark text-white">
      <div class="row">
        <div class="col-md-3 bg-info " data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2017 - 2017</p>
            <div class="h5">Licencia de conducir</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body"><hr>
            <div class="h5">Licencia Profesional - Tipo C</div>
            <p class="category">Sindicato de Choferes de Yanzatza</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card  bg-dark text-white ">
      <div class="row">
        <div class="col-md-3 bg-info" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2015 - 2016</p>
            <div class="h5">Colegio</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body"><hr>
            <div class="h5">Bachillerato General Unificado - Grado</div>
            <p class="category">Adolfo Valarezo</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card  bg-dark text-white ">
      <div class="row">
        <div class="col-md-3 bg-info" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2010 - 2015</p>
            <div class="h5">Colegio</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body"><hr>
            <div class="h5">Bachillerato General Unificado </div>
            <p class="category">Ecuador Amazónico</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<div class="section bg-dark" id="contact">
  <div class="cc-contact-information" style="background-image: url('images/staticmap.png')">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0  " data-aos="zoom-in">
              <div class="h4 text-center title">Contáctame:</div>
              <div class="row"> 
                <div class="col-md-6   mx-auto">
                  <div class="card-body mx-auto  ">
                    
                    <div class="h4  text-center">Juan Pablo Torres</div>
                    <p class="mb-0"><strong>Dirección </strong></p>
                    <p class="pb-2">El Pangui, Zamora Chinchipe, Ecuador</p>
                    <p class="mb-0"><strong>Teléfono</strong></p>
                    <p class="pb-2 "><a class="text-info " target="_blank"  href="https://wa.me/+593980557586">+593980557586</a></p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p class="mb-4">juanpablotorrescalva@gmail.com</p>   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
    </div>
    <footer class="footer bg-dark">
      
      <div class="container text-center">
        <a class="cc-facebook btn btn-link" target="_blank"  href="https://www.facebook.com/369torres"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a>
        <a class="cc-google-plus btn btn-link" target="_blank"  href="https://github.com/juanpablo369"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a class="cc-instagram btn btn-link"  target="_blank" href="https://www.instagram.com/369torres/"><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a></div>
      <div class="container text-center mx-auto"><img class="img-fluid " style="width: 21%;" src="/images/Tow-W.png">  </div>
      <div class="text-center text-muted">
        <p>&copy;</p>
      </div>
    </footer>
    <script src="assets/js/core/jquery.3.2.1.min.js?ver=1.1.0"></script>
    <script src="assets/js/core/popper.min.js?ver=1.1.0"></script>
    <script src="assets/js/core/bootstrap.min.js?ver=1.1.0"></script>
    <script src="assets/js/now-ui-kit.js?ver=1.1.0"></script>
    <script src="assets/js/aos.js?ver=1.1.0"></script>
    <script src="assets/scripts/main.js?ver=1.1.0"></script>
  </body>
</html>