<!DOCTYPE html>
<html>
  <%- include('fragmentos/head'); %> 
  <body>
  <%- include('fragmentos/navbar'); %> 
<script type="text/javascript">
</script>
    	<h2 class="text-center"><%= title %></h2>
    <div class="card col-md-8 mx-auto">

              <!--  GRAFICO 1 - LINEAS   -->
       <div id="graph" class="img-fluid resize bg-dark"></div>

       <div class="card bg-dark col-md-3 mx-auto text-center">






 <!-- CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///NEXT///NEXT///NEXT///NEXT///NEXT///NEXT///NEXT -->
        	          <h6 class="mx-auto">Total de casos </h6>
        	          <h4 style="color: #1885FF " class="mx-auto">199</h4>
        			
        	          <h6 class="mx-auto">Fallecidos </h6>
        	          <h4 class="mx-auto" style="color: red " id="fallecidos">3</h4>

        	           <h6 class="mx-auto">Recuperados </h6>
        	          <h4 class="mx-auto" style="color: green " id="fallecidos">0</h4>
 <!-- CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///BEFORE///BEFORE///BEFORE///BEFORE///BEFORE///BEFORE -->
       </div>
        	

<form class="text-center" >
              <!--  GRAFICO 2 - PROVINCIAS   -->
        <h5>Casos por provincia </h5>
        <div id="graphb" class="img-fluid"></div>
        </form>
         <!--  
CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///NEXT///NEXT///NEXT///NEXT///NEXT///NEXT///NEXT
        -->
        <div class="row text-center"> 
        <a>Hasta el momento, el Instituto Nacional de Investigación en Salud Pública (INSPI) ha tomado 855 muestras de las cuales 199 son positivas para COVID-19.</a>

        <br>
        <form class="col-md-6 mx-auto">
        <br>
        <br>
        <h5 class="text-center">Estado de los infectados</h5>
        <div id="extra" class="img-fluid mx-auto" style="width: 60%"></div>
        </form>
        <form class="col-md-6 mx-auto">
        <br>
        <br>
        <h5 class="text-center">Sospechosos</h5>
        <div id="extra2" class="img-fluid mx-auto" style="width: 60%"></div>
        </form>
        <form class="col-md-6 mx-auto">
        <br>
        <br>
        <h6 class="text-center">Población total comparada con los casos confirmados</h6>
        <div id="extra3" class="img-fluid mx-auto" style="width: 60%"></div>
        <a href="https://countrymeters.info/es/Ecuador">Fuente</a>
        </form>
        
        
        </div>
        <div id="grapha" class="img-fluid"></div>


         <div class="card col-md-5 mx-auto bg-dark">
  	<a class="text-center">Fuentes:</a>
      <div class="text-center">
  	<a class="" href="https://www.who.int/es">Organización Mundial de la Salud </a><br/>
  	<a class="" href="https://www.salud.gob.ec/">Ministerio de Salud Pública (Ecuador)</a><br/>
  	<a class="" href="https://www.gestionderiesgos.gob.ec/">Sistema Nacional de Gestión de Riesgos</a>
  	<a rel="tooltip" title="twiter" data-placement="bottom" href="
https://twitter.com/Riesgos_Ec" target="_blank">
    <img src="./images/icons/twiter.png" style="width: 6%">
    </a>
    <br/>
  	
      </div>
    </div>
    <form class="text-center">
   	<a class="text-center">Autor:</a>
  	<a class="text-center">Pablo Torres</a>
  	<a rel="tooltip" title="Sígeme en Instagram" data-placement="bottom" href="https://www.instagram.com/jpablo_torres23/" target="_blank">
    <img src="./images/icons/insta.png" style="width: 3%">
    </a>
    <a rel="tooltip" title="Facebook" data-placement="bottom" href="https://www.facebook.com/369Torres" target="_blank">
    <img src="./images/icons/facebook.png" style="width: 3%">
    </a>
    </form>
    </div>
    















 <!--  
CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///CHANGINDATA///NEXT///NEXT///NEXT///NEXT///NEXT///NEXT///NEXT
        -->

    <script type="text/javascript">
    	

    	Morris.Donut({
  element: 'graphb',
  data: [
    {value: 159, label: 'Guayas', formatted: '159 Casos' },
    {value: 12, label: 'Pichincha', formatted: '12 Casos' },
    {value: 10, label: 'Los Rios', formatted: '10 Casos' },
    {value: 8, label: 'Manabí', formatted: '8 Casos' },
    {value: 7, label: 'Azuay', formatted: '7 Casos' },
    {value: 2, label: 'Bolívar', formatted: '2 Casos' },
    {value: 1, label: 'Morona Santiago', formatted: '1 Caso' },
    {value: 1, label: 'El Oro', formatted: '1 Caso' },
    {value: 1, label: 'Sucumbios', formatted: '1 Caso' },
  ],
  formatter: function (x, data) { return data.formatted; }
});



    	Morris.Donut({
  element: 'extra',
  colors: ["#A418FF","#18A4FF","#FF1849","#4C0A0A"],
  data: [
    {value: 180, label: 'Aislamiento domiciliario', formatted: '180' },
    {value: 10, label: 'Hospitalizados estables', formatted: '10' },
    {value: 6, label: 'Pronóstico reservado', formatted: '6' },
    {value: 3, label: 'Fallecidos', formatted: '3' }
  ],
  formatter: function (x, data) { return data.formatted; }
});



    	Morris.Donut({
  element: 'extra2',
  colors: ["#A418FF","#1BE55B","#1BD9E5"],
  data: [
    {value: 320, label: 'Sospechosos', formatted: "320" },
    {value: 336, label: 'Descartados', formatted: '336' },
    {value: 855, label: 'Pruebas realizadas', formatted: '855' }
  ],
  formatter: function (x, data) { return data.formatted; }
});



    	Morris.Donut({
  element: 'extra3',
  colors: ["#A418FF","#1BD9E5"],
  data: [
    {value: 199, label: 'Casos confirmados', formatted: "199" },
    {value: 17367156, label: 'Resto de la Población', formatted: '17 367 300 aprox' }
  ],
  formatter: function (x, data) { return data.formatted; }
});



var q_data = [
  {"dia":"2020-03-19", "casos": 199, "muertes": 3, "recuperados": null, counter:19},
  {"dia":"2020-03-18", "casos": 168, "muertes": 3, "recuperados": null, counter:19},
  {"dia":"2020-03-17", "casos": 111, "muertes": 2, "recuperados": null, counter:18},
  {"dia":"2020-03-16", "casos": 58, "muertes": 2, "recuperados": null, counter:17},
  {"dia":"2020-03-15", "casos": 37, "muertes": 2, "recuperados": null, counter:16},
  {"dia":"2020-03-14", "casos": 28, "muertes": 2, "recuperados": null, counter:15},
  {"dia":"2020-03-13", "casos": 20, "muertes": 1, "recuperados":null, counter:14},
  {"dia":"2020-03-12", "casos": 19, "muertes": null, "recuperados": null, counter:13},
  {"dia":"2020-03-11", "casos": 17, "muertes": null, "recuperados": null, counter:12},
  {"dia":"2020-03-10", "casos": 17, "muertes": null, "recuperados": null, counter:11},
  {"dia":"2020-03-09", "casos": 15, "muertes": null, "recuperados": null, counter:10},
  {"dia":"2020-03-08", "casos": 15, "muertes": null, "recuperados": null, counter:9},
  {"dia":"2020-03-07", "casos": 14, "muertes": null, "recuperados": null, counter:8},
  {"dia":"2020-03-06", "casos": 14, "muertes": null, "recuperados": null, counter:7},
  {"dia":"2020-03-05", "casos": 13, "muertes": null, "recuperados": null, counter:6},
  {"dia":"2020-03-04", "casos": 10, "muertes": null, "recuperados": null, counter:5},
  {"dia":"2020-03-03", "casos": 7, "muertes": null, "recuperados": null, counter:4},
  {"dia":"2020-03-02", "casos": 7, "muertes": null, "recuperados": null, counter:3},
  {"dia":"2020-03-01", "casos": 6, "muertes": null, "recuperados": null, counter:2},
  {"dia":"2020-02-29", "casos": 1, "muertes": null, "recuperados": null, counter:1},

];








new Morris.Line({
  element: 'graph',
  lineColors: ["#1885FF","#FF3333","green"],
  data: q_data,
  xkey: 'dia',
  ykeys: ['casos', 'muertes', 'recuperados'],
  labels: ['Casos', 'Muertes', "Recuperados"],
});


    var casos="199";
	 document.getElementById("casos").innerHTML = casos;

	var recuperados="0";
	 document.getElementById("recuperados").innerHTML = recuperados;

	var fallecidos="2";
	 document.getElementById("fallecidos").innerHTML = fallecidos;

	var sosp="235";

	var descartados="278";
	 document.getElementById("descartados").innerHTML = descartados;

    </script>
  </body>
</html>
