<!DOCTYPE html>
<html>
  <%- include('fragmentos/head'); %> 
  <body>
  <%- include('fragmentos/navbar'); %> 

<script type="text/javascript">

	var casos="333";
	 document.getElementById("casos").innerHTML = casos;

	var recuperados="";
	 document.getElementById("recuperados").innerHTML = recuperados;

	var fallecidos="155";
	 document.getElementById("fallecidos").innerHTML = fallecidos;


	var sospechosos="";
	 document.getElementById("sospechosos").innerHTML = sospechosos;

	var descartados="";
	 document.getElementById("descartados").innerHTML = descartados;
</script>
    	<h2 class="text-center"><%= title %></h2>
    <div class="card col-md-8 mx-auto">
        
        
        
        <div id="graph" class="img-fluid resize bg-dark"></div>

<br>
        	<table class="card col-md-3 mx-auto">
        		<tr>
        			<td>
        				<form>
        	          <h6>Total de casos </h6>
        	          <h4 style="color: #1885FF " class="mr-auto">155</h4>
        			</form>
        		</td>
        			<td>
        			
        		    </td>
        			<td style="margin-left: 120px">
        			 <form>
        	          <h6>Fallecidos </h6>
        	          <h4 style="color: red " id="fallecidos">2</h4>
                     </form>
        			</td>
        		</tr>
        	</table>
<form class="text-center" >
        <h4>Casos por provincia </h4>
        <div id="graphb" class="img-fluid"></div>
        </form>
        <div class="row text-center"> 
        <a>Hasta el momento, el Instituto Nacional de Investigación en Salud Pública (INSPI) ha tomado 668 muestras de las cuales 155 son positivas para COVID-19.</a>

        <br>
        <form class="col-md-6 mx-auto">
        <br>
        <br>
        <h4 class="text-center">Estado de infectados</h4>
        <div id="extra" class="img-fluid mx-auto" style="width: 60%"></div>
        </form>
        <form class="col-md-6 mx-auto">

        <br>
        <br>
        <h4 class="text-center">Sospechosos</h4>
        <div id="extra2" class="img-fluid mx-auto" style="width: 60%"></div>
        </form>
        
        </div>
        <div id="grapha" class="img-fluid"></div>


         <div class="card col-md-5 mx-auto bg-dark">
  	<a class="text-center">Fuentes:</a>
      <div class="text-center">
  	<a class="" href="https://www.who.int/es">Organización Mundial de la Salud </a><br/>
  	<a class="" href="https://www.salud.gob.ec/">Ministerio de Salud Pública (Ecuador)</a><br/>
  	<a class="" href="https://www.gestionderiesgos.gob.ec/">Sistema Nacional de Gestión de Riesgos</a><br/>
  	<br>
  	<br>
  	
      </div>

    </div>
    <form class="text-center">
   	<a class="text-center">Autor:</a>
  	<a class="text-center">Pablo Torres</a>
  	<a rel="tooltip" title="Síganme en Instagram" data-placement="bottom" href="https://www.instagram.com/jpablo_torres23/" target="_blank">
    <img src="./images/icons/insta.png" style="width: 3%">
    </a>
    </form>
    </div>
    

















    <script type="text/javascript">
    	Morris.Donut({
  element: 'graphb',
  data: [
    {value: 119, label: 'Guayas', formatted: '119 Casos' },
    {value: 10, label: 'Los Rios', formatted: '10 Casos' },
    {value: 8, label: 'Pichincha', formatted: '8 Casos' },
    {value: 8, label: 'Manabí', formatted: '8 Casos' },
    {value: 5, label: 'Azuay', formatted: '5 Casos' },
    {value: 2, label: 'Bolívar', formatted: '2 Casos' },
    {value: 1, label: 'Morona Santiago', formatted: '1 Caso' },
    {value: 1, label: 'El Oro', formatted: '1 Caso' },
    {value: 1, label: 'Sucumbios', formatted: '1 Caso' },
  ],
  formatter: function (x, data) { return data.formatted; }
});

    	Morris.Donut({
  element: 'extra',
  colors: ["#A418FF","#18A4FF","#FF1849","#4C0A0A"],
  data: [
    {value: 139, label: 'Aislamiento domiciliario', formatted: '139' },
    {value: 9, label: 'Hospitalizados estables', formatted: '9' },
    {value: 5, label: 'Pronóstico reservado', formatted: '5' },
    {value: 2, label: 'Fallecidos', formatted: '2' }
  ],
  formatter: function (x, data) { return data.formatted; }
});

    	Morris.Donut({
  element: 'extra2',
  colors: ["#A418FF","#1BE55B","#FF1849"],
  data: [
    {value: 235, label: 'Sospechosos', formatted: '235' },
    {value: 278, label: 'Descartados', formatted: '278' },
    {value: 155, label: 'Confirmados', formatted: '155' }
  ],
  formatter: function (x, data) { return data.formatted; }
});





var q_data = [
  {"dia":"2020-03-18", "casos": 155, "muertes": 2, "recuperados": null, counter:19},
  {"dia":"2020-03-17", "casos": 111, "muertes": 2, "recuperados": null, counter:18},
  {"dia":"2020-03-16", "casos": 58, "muertes": 2, "recuperados": null, counter:17},
  {"dia":"2020-03-15", "casos": 37, "muertes": 2, "recuperados": null, counter:16},
  {"dia":"2020-03-14", "casos": 28, "muertes": 2, "recuperados": null, counter:15},
  {"dia":"2020-03-13", "casos": 20, "muertes": 1, "recuperados":null, counter:14},
  {"dia":"2020-03-12", "casos": 19, "muertes": null, "recuperados": null, counter:13},
  {"dia":"2020-03-11", "casos": 17, "muertes": null, "recuperados": null, counter:12},
  {"dia":"2020-03-10", "casos": 17, "muertes": null, "recuperados": null, counter:11},
  {"dia":"2020-03-09", "casos": 15, "muertes": null, "recuperados": null, counter:10},
  {"dia":"2020-03-08", "casos": 15, "muertes": null, "recuperados": null, counter:9},
  {"dia":"2020-03-07", "casos": 14, "muertes": null, "recuperados": null, counter:8},
  {"dia":"2020-03-06", "casos": 14, "muertes": null, "recuperados": null, counter:7},
  {"dia":"2020-03-05", "casos": 13, "muertes": null, "recuperados": null, counter:6},
  {"dia":"2020-03-04", "casos": 10, "muertes": null, "recuperados": null, counter:5},
  {"dia":"2020-03-03", "casos": 7, "muertes": null, "recuperados": null, counter:4},
  {"dia":"2020-03-02", "casos": 7, "muertes": null, "recuperados": null, counter:3},
  {"dia":"2020-03-01", "casos": 6, "muertes": null, "recuperados": null, counter:2},
  {"dia":"2020-02-29", "casos": 1, "muertes": null, "recuperados": null, counter:1},

];

new Morris.Line({
  element: 'graph',
  lineColors: ["#1885FF","#FF3333","green"],
  data: q_data,
  xkey: 'dia',
  ykeys: ['casos', 'muertes', 'recuperados'],
  labels: ['Casos', 'Muertes', "Recuperados"],
});
    </script>
  </body>
</html>
