<!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color:black; opacity: 0.87" color-on-scroll="300">
    <div class="container ">
      <div class="">
        <a class="navbar-brand" href="/" rel="tooltip" title="Yanua" data-placement="bottom" target="">
          <img style="width: 18%" src="./images/icons/Kingdom.png">
          <span class="copyright text-dark"><i class="fa fa-heart heart" style="opacity: 0.21"></i></span> </a>

        <button class="text dark navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class=" collapse navbar-collapse navbar-dark justify-content-end " id="navigation">

        <ul class="navbar-nav nav-sm">

          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Ir al muro de comentarios" data-placement="bottom" href="/coments" target="">
              <i class="fa fa-comments"></i>
              <p class="d-lg-none">Muro</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Síguenos en Facebook" data-placement="bottom" href="https://www.facebook.com/Yanua-Bar-Discoteca-279815565372413" target="_blank">
              <i class="fa fa-facebook-square"></i>
              <p class="d-lg-none">Facebook</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Síguenos en Instagram" data-placement="bottom" href="https://www.instagram.com/yanuadiscobar/" target="_blank">
              <i class="fa fa-instagram"></i>
              <p class="d-lg-none">Instagram</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Escríbenos a Whatsapp" data-placement="bottom" href="https://api.whatsapp.com/send?phone=5930986220173&text=Hola,%20" target="_blank">
              <i class="fa fa-whatsapp"></i>
              <p class="d-lg-none">Whatsapp</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
